<h1>How to stash ? </h1>
<section>
    <div class="box-div">
        <p>La commande <span>$ git stash</span> prend vos changements non commités (stagés et non stagés), les enregistre
            pour
            une utilisation
            ultérieure, puis les replace dans votre copie de travail.</p>
        <p>delete a stash : <span>$ git stash pop</span></p>
        <p>Voir sa liste de stash: <span>$ git stash list
            </span></p>
        <p>Donner un nom à son stash: <span>$ git stash -m "test stash"</span></p>
        <p>Voir les modifications apportées au stash : <span>$ git stash show</span></p>
        <p>Afficher les modifications complètes au stash : <span>$ git stash show -p
            </span></p>
        <p>Créer une branche avec son stash : <span>$ git stash branch</span></p>
    </div>
</section>