<section class="column">
    <div class="display-flex">
        <h2>For Git</h2>
        <img class="github" src="assets\imgs\github-mark.png" alt="">
    </div>
    <a routerLink="push">- git push</a>
    <a routerLink="amend">- git commit --amend</a>
    <a routerLink="cherrypick">- git cherry-pick</a>
    <a routerLink="squash">- git squash</a>
    <a routerLink="deletecommit">- delete a commit</a>
    <a routerLink="deletebranch">- delete a branch</a>
    <a routerLink="renamecommit">- rename a commit</a>
    <a routerLink="stash">- git stash</a>
</section>
<section class="column">
        <img class="gitlabee" src="assets\imgs\gitlab-logo-100.png" alt="">
    <a routerLink="graph">Graph</a>
</section>

<section class="column">
    <a routerLink="general">Général</a>
</section>