<section class="column">
    <h1>For Git</h1>
    <a routerLink="push">Push</a>
    <a routerLink="amend">Amend</a>
    <a routerLink="cherrypick">Cherrypick</a>
    <a routerLink="squash">Squash</a>
    <a routerLink="deletecommit">Delete a commit</a>
    <a routerLink="renamecommit">Rename a commit</a>
    <a routerLink="stash">Stash a branch</a>
</section>
<section class="column">
    <h1>For GitLabee</h1>
    <a routerLink="graph">Graph</a>
</section>

<section class="column">
    <h1>Bonnes pratiques</h1>
    <p style="text-align: center;">Nomenclature pour nommer ses tickets : </p>
    <p style="text-align: center;">Exemple: feature_scop_588</p>
</section>


<section class="column">
    <a routerLink="general">Général</a>
</section>