<section class="column">
    <h1>For Git</h1>
    <a routerLink="push">Push</a>
    <a routerLink="amend">Amend</a>
    <a routerLink="cherrypick">Cherrypick</a>
    <a routerLink="squash">Squash</a>
</section>
<section class="column">
    <h1>For GitLabee</h1>
    <a routerLink="graph">Graph</a>
</section>

<section class="column">
    <h1>Bonnes pratiques</h1>
    <p style="text-align: center;">Nomenclature pour nommer ses tickets : </p>
    <p style="text-align: center;">Exemple: feature_scop_588</p>
</section>

<p>Différence entre pull et fp </p>

<p>To delete a local branch : git branch -D myBranche</p>
<p>To delete a distant branch : git push origin --delete test</p>