<h1>How to push ?</h1>
<section>
    <div class="box-div">
        <p>1. Go to IntelliJ</p>
        <p>2. Add manually for each files with '+'</p>
        <p>3. Enter the name of the commit <span> ex: [SCOP-588]: Delete component files </span>. Then, click on
            'Commit'
        </p>
        <p>4. Click on "Push", the "pre-commit" in the folder must be commented</p>
        <p>5. Then, do <span>$ git checkout . </span> </p>
        <p>6. <span>$ git checkout develop </span> </p>
        <p>7. <span>$ git pull develop </span> and <span> git fp </span> </p>
        <p>8. Then, go back to your branch </p>
        <p>9. Do <span>$ git rebase origin </span> and <span> git push -f</span> or <span> git fp</span></p>
    </div>
</section>