<p>Différence entre pull et fp : </p>

<h1>Commandes générales : </h1>
<p>Afficher les changements dans un commit spécifique : $ <span>
        git show <i>ID_du_commit</i></span></p>
<p>Supprimer un fichier suivi par Git : $ <span> rm mon_fichier </span>
</p>
<p>
    Afficher l'historique des commits avec un format condensé :
    $ <span>git log --oneline
    </span>
</p>
<img src="assets\imgs\git_log.PNG" alt="git log --oneline">

<p>Afficher l'historique graphique :
<p>$<span>git log --graph --oneline --all
    </span></p>
<img src="assets\imgs\oneline.PNG" alt="git log --graph --oneline --all">