<h1>How to CherryPick ? </h1>
<section>
    <div class="box-div">

        <p>User Case : </p>
        <p>J'ai créé une branche qui ne me convient plus , je souhaite récupérer mon
            travail sur cette branche puis la supprimer
            : </p>
        <p>1. <span>$ git checkout -b myNewBranche</span> </p>
        <p>2. <span>$ git cherry-pick hashDuCommit(de la old-branch) </span> </p>
        <p>Note1 : on peut cherry-pick le nombre de commit qu'on souhaite, je peux très bien faire plusieurs <span>git
                cherry-pick hashDuCommit(de la old-branch) </span> </p>
        <p>Note2 : le add s'effectue seul, il n'y a plus qu'à <span>push</span> </p>
    </div>
</section>