<h1>Faire un squash : </h1>
<section>
    <div class="box-div">
        <p> <span>$ git rebase -i HEAD~3 </span></p>
        <p>Note: ~3 veut dire que je vais squasher 3 commits</p>
        <p>On tombe ensuite sur les 3 commits</p>
        <p>On va écrire <span>squash</span> sur les deux derniers commits et celui en haut de liste on garde
            <span>pick</span>
        </p>
        <p>On enregistre <span>:wq!</span></p>
        <p> <span>$ git push origin maBranche --force</span></p>
        <p>Résultat : </p>
        <img style="width: 1050px;" src="assets\imgs\squash.PNG" alt="">
    </div>
</section>