<h1>git commit amend - how it works ? </h1>
<section>
    <div class="box-div">
        <p>Git amend est utilisé pour apporter des modifications à la dernière validation (commit) en combinant les
            <br>modifications avec le commit précédent,
            permettant ainsi de corriger des erreurs, d'ajouter des fichiers oubliés, <br> ou de mettre à jour
            le message du commit, sans créer un nouveau commit distinct. <br> Cela contribue à maintenir un
            historique de version plus propre et plus clair.
        </p>
        <p>1. Select Files to commit in IntelliJ</p>
        <p>2. Select "Amend" to commit </p>
        <p>3. Click on Commit </p>
        <p>4. Do <span> $ git push --force </span> or <span>$ git -f</span></p>
        <p>5. <span>$ git checkout . </span></p>
        <p>6. <span>$ git checkout develop </span> </p>
        <p>7. <span>$ git pull et git fetch prune ou git -fp </span> </p>
        <p>8. <span>$ git checkout maBranche </span></p>
        <p>9. <span>$ git rebase develop </span></p>
        <p>10. <span>$ git push --force </span></p>
        <p>Note: hors entreprise, on fait un <span>$ git add </span> et un <span>$ git commit --amend </span>et un <span>$ git push origin --force </span> pour commit sur le dernier commit (HEAD) </p>
    </div>
</section>