h1 {
    border: 1px solid #000;
    padding: 3px;
    width: 500px;
}

p {
    font-size: 1.3em;
}

span {
    font-style: italic;
    color: red;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

a:hover {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

img {
    width: 500px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-div {
    width: 700x;
}

.column {
    flex-direction: column;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}